#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  header {
    width: 98vw;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: 500;
    background-color: aqua;
    overflow: hidden;
  }
  .gameContainer {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      margin: 10px;
      img {
        height: 220px;
        width: 220px;
        object-fit: cover;
      }
    }
  }
}
